# Supabase
SUPABASE_URL="your-supabase-url"
SUPABASE_KEY="your-supabase-key"
# Name der Supabase-Tabelle für Spotify-Sync
SUPABASE_TABLE=_spotify_to_supabase_test

# Spotify
SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"
SPOTIFY_REDIRECT_URI="https://localhost:6361/callback"
SPOTIFY_PLAYLIST_ID="your-spotify-playlist-id"

# Encryption
ENCRYPTION_KEY="your-32-byte-encryption-key"

# SSL
SSL_CERT_PATH="ssl/cert.pem"
SSL_KEY_PATH="ssl/key.pem"